footer {
    width: 100%;
    padding: 50px 0;
    margin-top: auto;
    /* justify-self: flex-end; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: black;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        color: white;

        > h4 {
            cursor: default;
        }

        > a {
            text-decoration: none;
            color:  hsl(0, 0%, 50%);
        }
    }
}
